<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <title>Document</title>
</head>
<body>
    
    <form method="post">
      {{ form.name.errors }}
      {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="container">
          <label for="email"><b>Username</b></label>
          <input class="form-control" type="text" placeholder="Enter Username" name="username" id="username" required>

          <label for="email"><b>Email</b></label>
          <input class="form-control" type="email" placeholder="Enter Email" name="email" id="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input class="form-control" type="password" placeholder="Enter Password" name="password" id="password" required>

          <div class="text-center">
            <button type="Submit" class="btn btn-info mt-2 text-center">Register</button>
          </div>
        </div>
      
        <!-- <div class="container signin">
          <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div> -->
      </form>

      <div>
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      </div>

</body>
</html>